.div{
    width:400px;
    height:30%;
    margin: 10% 32% 0 32%;
    background:rgba(20,30,40,0.6);
    padding:50px 0 0 0 ;
    border:25px double ivory;
    border-top-color:transparent;
    animation:3s blink ease-in-out infinite;
    border-bottom-color:transparent;
    box-sizing:padding-box;
    position:absolute;
    border-radius:28%;
    box-shadow:0px 60px 200px -40px #000;
}

.input{
    margin:0px 50px;
padding:5px 15px;
height:30px;
width:250px;
display:block;
color:#fff;
font-size:1.2em;
position:relative;
box-sizing:padding-box;
background:transparent;
border:none;
border-bottom:5px double #fff;
outline:none;
}

.button{
    margin:0 110px;
    margin-top: 30px;
width:150px;
height:35px;
padding:5px; 
background:springgreen;
border:1px solid #000;
border-radius:10px;
box-shadow:0px 10px 20px -8px springgreen;
}
.button:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  background: #677207;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
/*****************************/
@keyframes blink {
20% ,30% {
        border:25px double ivory;
         border-top-color:transparent;
          border-bottom-color:transparent;
        }
50%,70%{
       border:25px double springgreen;
         border-top-color:transparent;
          border-bottom-color:transparent;

}
80%,90%,100%{
          border:25px double #000;
         border-top-color:transparent;
          border-bottom-color:transparent;

}		

}


.div:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  /*****************************/
  @keyframes blink {
  20% ,30% {
          border:25px double ivory;
           border-top-color:transparent;
            border-bottom-color:transparent;
          }
  50%,70%{
         border:25px double springgreen;
           border-top-color:transparent;
            border-bottom-color:transparent;
  
  }
  80%,90%,100%{
            border:25px double #000;
           border-top-color:transparent;
            border-bottom-color:transparent;
  
  }		
  
  }

  .frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    color: #fff;
  }
  
  .center {
    position: absolute;
    width: 220px;
    height: 220px;
    top: 90px;
    left: 90px;
  }
  
  .dot-1 {
    position: absolute;
    z-index: 3;
    width: 30px;
    height: 30px;
    top: 95px;
    left: 95px;
    background: #fff;
    border-radius: 50%;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
            animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
  }
  
  .dot-2 {
    position: absolute;
    z-index: 2;
    width: 60px;
    height: 60px;
    top: 80px;
    left: 80px;
    background: #fff;
    border-radius: 50%;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation: jump-jump-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
            animation: jump-jump-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
  }
  
  .dot-3 {
    position: absolute;
    z-index: 1;
    width: 90px;
    height: 90px;
    top: 65px;
    left: 65px;
    background: #fff;
    border-radius: 50%;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation: jump-jump-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
            animation: jump-jump-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
  }
  
  @-webkit-keyframes jump-jump-1 {
    0%, 70% {
      box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes jump-jump-1 {
    0%, 70% {
      box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @-webkit-keyframes jump-jump-2 {
    0%, 40% {
      box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes jump-jump-2 {
    0%, 40% {
      box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @-webkit-keyframes jump-jump-3 {
    0%, 10% {
      box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes jump-jump-3 {
    0%, 10% {
      box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
